.notif-message-box {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 1%;
  }
  
  .notif-message-box .notif-message-rectangle {
    width: 80%;
    height: fit-content;
    background: #00573f;
    border: 3px solid #00573f;
    border-radius: 10px;
    font-family: "Cambria";
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
  }

  .notif-message-header {
    display: flex;
    justify-content: space-between;
  }

  .notif-message-header p{
    padding-left: 3%;
  }
 
  .notif-message-header button {
    background-color: white;
    color: #00573f;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 3%;
    font-size: 20px;
    padding: 0 10px 0 10px;
  }

  .notif-message-header button:hover {
    background-color: #e3e2e1;
  }
  
  .notif-message-box .notif-message-rectangle p {
    color: white;
    font-size: 20px;
  }
  
  .notif-message-box .notif-message-rectangle2 {
    position: relative;
    width: 100%;
    height: fit-content;
    background: transparent;
    border-top: 3px solid #00573f;
  }
  
  .notif-message-box .notif-message-rectangle3 {
    padding: 0 15px 15px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }

  .notif-message-box .notif-message-rectangle5 {
    display: flex;
    height: 23rem;
    width: 100%;
    padding: 0 3% 0 3%;
    background-color: white;
    border: solid #00573F;
  }

  .notif-message-box .notif-message-rectangle3 p{
    color: #00573F;
    font-weight: 700;
    text-align: center;
    margin-left: 0;
  }


  .notif-message-rectangle3 button {
  background-color: #198754;
  color: white;
  display: inline-block;
  justify-content: center;
  border-radius: 10px;
  font-size:20px;
  width: 200px;
  height: fit-content;
  padding: 0 10px 0 10px;
  margin: 0;
  }

  .notif-message-rectangle3 button:hover {
    background-color: #157347;
  }

.helpIcon {
  height: 40px;
}
