body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.nav-tabs{
    background-color:#00573F;
    border-radius: 10px 10px 0px 0px;
  }

  .tab-content{
      background-color:#D9D9D9;
      color:#fff;
      padding:10px;
      border-radius: 0px 0px 10px 10px;
      
  }
  .nav-tabs > li > a{
    border: medium none;
    background-color:#D9D9D9;
    
  }

  .nav-tabs > li > a:hover{
    background-color: #303136;
      border: medium none;
      border-radius: 0;
      color:#D9D9D9;
  }
