@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.dbResult-list {
    height: auto;
    padding: 0;
    width: 100%;
    border-bottom: 2px solid #D9D9D9;
    border-right: 2px solid #D9D9D9;
    border-left: 2px solid #D9D9D9;
    border-radius: 5px;
}

.dbResult-list .dbItems {
    width: 100%;
    height: 60px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    color: black;
    /* border: 2px solid gray; */
    margin-top: 2px;
    border-bottom-right-radius: 10px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
    font-family: 'Source Sans Pro', sans-serif;
}

.dbItems #profileIcon{
    height: 100%;
    width: 75px;
    /* margin-left: 20px; */
    margin-right: 20px;
    background-color: #D9D9D9;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    display: grid;
    place-items: center;
}

.dbItems #displayName{
    flex: 10%;
    font-size: 15px;
    display: grid;
    place-items: center;
}

.dbItems #displayPosition{
    flex: 20%;
    font-size: 15px;
    display: grid;
    place-items: center;
}

.dbItems #displayStudent{
    flex: 20%;
    font-size: 15px;
    display: grid;
    place-items: center;
}

.dbItems #displayReason{
    flex: 20%;
    font-size: 15px;
    display: grid;
    place-items: center;
}

.dbItems #displayDate{
    flex: 20%;
    font-size: 15px;
    display: grid;
    place-items: center;
}

















.dbItems #displayName{
    flex: 35%;
    font-size: 15px;
    display: grid;
    place-items: center;
}

.dbItems #displayEmail{
    flex: 35%;
    font-size: 15px;
    display: grid;
    place-items: center;
}

.dbItems #displayStatus{
    flex: 20%;
    font-size: 15px;
    display: grid;
    place-items: center;
}

.dbItems #action-icon{
    flex: 10%;
    font-size: 15px;
    display: grid;
    place-items: center;
}

.dbItems #displayTimeIn{
    flex: 35%;
    font-size: 15px;
    display: grid;
    place-items: center;
}

.dbItems #displayTimeOut{
    flex: 20%;
    font-size: 15px;
    display: grid;
    place-items: center;
}

.dbItems #displayDate{
    flex: 10%;
    font-size: 15px;
    display: grid;
    place-items: center;
}

.dbItems:hover {
    background-color: rgb(183, 180, 180);
}

.dbItems #dbItems-even {
    background-color: rgb(203, 35, 35);
}

.dbresult-header {
    height: 50px;
    width: 100%;
    color: white;
    background-color: rgb(25,135,84);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    place-items: center;
    /* justify-content: space-between; */
}

p{
    margin-bottom: 0;
}

.dbresult-header .dbheader-name {
    position: relative;
    left: 21.5%;
}

.dbresult-header .dbheader-grade-section {
    position: relative;
    left: 48.5%;
}

.dbresult-header .dbheader-status {
    position: relative;
    left: 68%;
}

.dbresult-header .dbheader-actions {
    position: relative;
    left: 78%;
}


.dbresult-header .dbheader-position {
    position: relative;
    left: 48.5%;
}

.dbresult-header .dbheader-logs {
    position: relative;
    left: 68%;
}


.dbresult-header .dbheader-time-in {
    position: relative;
    left: 48.5%;
}

.dbresult-header .dbheader-time-out {
    position: relative;
    left: 68%;
}

.dbresult-header .dbheader-date {
    position: relative;
    left: 78%;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
/* .dbresult-header #dbheader-name {
    flex: 52.5%;
    display: grid;
    place-items: center;
}

.dbresult-header #dbheader-email {
    flex: 32.5%;
    display: grid;
    place-items: center;
}

.dbresult-header #dbheader-status {
    flex: 20%;
    display: grid;
    place-items: center;
}

.dbresult-header #dbheader-actions {
    flex: 10%;
    display: grid;
    place-items: center;
} */

.icon-wrapper {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #6c757d;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  .custom-popover {
    width: 500px;
    height: auto;

  }
  .custom-datepicker{
    width: 95px;
    height: 35px;
    text-align: center;
    background-color:  #bec0c2;
    border: transparent;
    border-radius: 10px;
  }
  