* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #register-page {
    background-image: url(../../Assets/UP\ ADMIN\ red\ gray\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top,center;
    font-family: "Cambria";
  }
  
  .register-content {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .register-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
  }
  
  .title {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .title h1 {
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 120px;
  }
  
  .title h2 {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 32px;
    letter-spacing: 0.67rem;
  }
  
  .form-container {
    position: relative;
    width: 35%;
    height: 90%;
    border-radius: 10px;
    background-image: linear-gradient(#ffb81e, white);
  }
  
  .register-bgi {
    background-image: url(../../Assets/login-bgi.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom,center;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  
  .upcLogo {
    position: relative;
    background-image: url(../../Assets/upc_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 200px;
    margin: 20px 0 10px 0;
  }
  
  .registerForm {
    position: relative;
    width: 70%;
  }
  
  .registerForm label {
    position: relative;
    display: flex;
    padding-top: 5px;
  }
  
  .register-input-container {
    position: relative;
    background-color: #FFB81E;
    display: flex;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    height: fit-content;
  }
  
  .register-input-icons {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 10%;
  }
  
  .registerForm input, select {
    position: relative;
    padding: 2%;
    height: fit-content;
    width: 100%;
    border-width: 1px;
    border-radius: 0 8px 8px 0;
    font-family: Arial;
    font-size: 1em;
    background-color: #d9d9d9;
  }
  
  .register-button {
    background-color: white;
    position: relative;
    height: fit-content;
    width: 100%;
    margin-top: 8%;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
  
  .register-button button {
    background-color: #ffb81e;
    height: 100%;
    width: 100%;
    padding: 1%;
    font-weight: 700;
    line-height: 31px;
    border-width: 1px;
    border-radius: 0 9px 9px 0;
    cursor: pointer;
    font-family: "Cambria";
  }
  
  .register-button button:hover {
    background-color: #ffc954;
  }
  
  @media (max-width: 1300px) {
  
    .title h1 {
      font-size: 3rem;
      line-height: 100px;
    }
    
    .title h2 {
      font-size: 1.3rem;
      line-height: 22px;
      letter-spacing: 0.5rem;
    }
  
  }
  
  @media (max-width: 1100px) {
  
    .title h1 {
      font-size: 2.5rem;
      line-height: 80px;
    }
    
    .title h2 {
      font-size: 1.1rem;
      line-height: 20px;
      letter-spacing: 0.4rem;
    }
  
    .register-container {
      flex-direction: column;
    }
  
    .form-container {
      width: 80%;
    }
  
    .registerForm {
      width: 70%;
    }
  
  }