
.accordion-button{
    background: #d9d9d9;
    color: black;
  } 
  .accordion-button:focus{
    background:#00573F;
    color: white;
  }
  .accordion-button:active{
    background: #198754;
    color: black;
  }
  .accordion-header{
    color: black; 
  }
  /* .btn{
    background: #00573F;
    color:white;
  }
  .btn:hover{
    background:#d9d9d9;
    color: #00573F;
  }
  .btn:focus{
    border: #00573F;
    color: white;
  }
  .btn:active{
    border: #00573F;
    color:black;
  }  */
