.Dashboard .background {
    position: absolute;
    width: 1340px;
    height: 600px;
    /*left: 100px;*/
    top: 280px;

    background: #FFFFFF;
}

.Dashboard .body-bottom {
    position: absolute;
    width: 1340px;
    height: 174px;
    /*left: 100px;*/
    top: 850px;

    background: #D9D9D9;
}

.Dashboard .dashboard-title {
    position: absolute;
    width: 1340px;
    height: 60px;
    /*left: 100px;*/
    top: 481px;
    background: #8E1437;
    
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 43px;
    text-align: center;
    letter-spacing: 0.25em;

    color: #FFFFFF;

}

.Dashboard .welcome-message {
    position: absolute;
    width: 251px;
    height: 32px;
    left: 23px;
    top: 399px;

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
}

.Dashboard .admin-border-top img{
    position: absolute;
    width: 1340px;
    height: 37px;
    /*left: 100px;*/
    top: 349px;
}

.Dashboard .admin-border-bottom img{
    position: absolute;
    width: 1340px;
    height: 37px;
    /*left: 100px;*/
    top: 444px;
}

.Dashboard .LiveBox .rectangle{
    box-sizing: border-box;

    position: absolute;
    width: 1200px;
    height: 200px;
    left: 90px;
    top: 623px;
    align-items: center;

    background: #FFFFFF;
    border: 1px solid #00573F;
    border-radius: 10px;
}

.Dashboard .LiveBox .rectangle2 {
    box-sizing: border-box;

    position: absolute;
    width: 1200px;
    height: 254px;
    left: 90px;
    top: 568px;

    background: #FFFFFF;
    border: 1px solid #00573F;
    border-radius: 10px;
}

.Dashboard .LiveBox .rectangle3{
    box-sizing: border-box;
    position: absolute;
    width: 555px;
    height: 97px;
    left: 390px;
    top: 702px;

    background: #FFFFFF;
    border: 1px solid #00573F;
    border-radius: 10px;
}

.Dashboard .LiveBox .Clock .rectangle_clock{
    position: absolute;
    width: 555px;
    height: 50px;
    left: 390px;
    top: 640px;
    background: #00573F;
    border-radius: 10px;
}

.Dashboard .LiveBox .Clock .Time {
    position: absolute;
    width: 245px;
    height: 49px;
    left: 550px;
    top: 640px;

    font-family: 'Arvo';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-align: center;

    color: #FFFFFF;

}

.Dashboard .LiveBox .Date .rectangle_date{
    box-sizing: border-box;

    position: absolute;
    width: 200px;
    height: 200px;
    left: 90px;
    top: 623px;

    background: #00573F;
    border: 1px solid #000000;
    border-radius: 10px;
}

.Dashboard .LiveBox .Date .Month{
    position: absolute;
    width: 89px;
    height: 59px;
    left: 120px;
    top: 631px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
}

.Dashboard .LiveBox .Date .Year{
    position: absolute;
    width: 98px;
    height: 49px;
    left: 140px;
    top: 763px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;   
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
}

.Dashboard .LiveBox .Date .Day{
    position: absolute;
    width: 99px;
    height: 119px;
    left: 139px;
    top: 668px;

    font-family: 'Arvo';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 119px;
    text-align: center;
    color: #FFFFFF;

}