@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Montserrat:wght@500;600&family=Playfair+Display:wght@400;700&display=swap');

.LiveBox {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 20px;
}

.rectangle{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 75%;
    text-align: center;
    background: #FFFFFF;
    border: 3px solid #00573F;
    border-radius: 10px;
}

.rectangle p {
    margin: 0;
}

.rectangle1{
    position: relative;
    width: 100%;
    display: flex;
    background-color: transparent;
    border-top: 3px solid #00573F;
}

.Date{
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    max-height: 200px;
    height: fit-content;

    background: #00573F;
    border: 1px solid #000000;
}

.Date .Month{
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 90px;
    text-align: center;
    color: #FFFFFF;
}

.Date .Year{
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}

.Date .Day{

    height: 100px;

    font-family: 'Arvo';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 119px;
    text-align: center;
    color: #FFFFFF;
}

.clock-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0 20px 0 20px;
    background-color: transparent;
    height: 100%;
    width: 100%;
}

.clock {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    background: #00573F;
    padding: 10px 0;
}

/*
.border-green {
    border: 1px solid #00573F;
}*/

.entrance-exit {
    width: 100%;
    display: flex;
    color:  #00573F;
    border-radius: 10px;
    border: 1px solid #00573F;
    gap: 15px;
    padding: 10px;
}

.entrance-exit .icon-boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: fit-content;
    padding: 0 1% 0 1%;
    background-color: white;
    border: 2px solid #00573F;
}
.icon-boxes img {
    width: fit-content;
    height: fit-content;
}

.entrance-exit .text {
    display: flex;
    flex-direction: column;
    font-weight: 900;
    font-size: 32px;
    font-family: 'Monsterrat', sans-serif;
    line-height: 39px;
    text-align: left;
    font-style: normal;
    width: 100%;
}

.entrance-exit .text .text-control{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
}



@media (max-width: 950px) {

    .Date {
        width: 100%;
    }

    .rectangle1{
        flex-direction: column;
        gap: 20px;
    }

    .clock-box {
        gap: 20px;
        padding-bottom: 20px;
    }

}


@media (max-width: 550px) {


    .icon-boxes img{
        height: 10px;
        width: 10px;
    }

    .entrance-exit .icon-boxes {
        gap: 20%;
    }

    .entrance-exit .text {
        font-size: 1.2rem;
    }

}

@media (max-width: 450px) {
    .entrance-exit .text {
        font-size: 0.9rem;
    }
}

@media (max-width: 350px) {
    .entrance-exit .text {
        font-size: 0.5rem;
    }

    .clock-box {
        padding-left: 15px;
        padding-right: 15px;
    }
}