@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Montserrat:wght@500;600&family=Playfair+Display:wght@400;700&display=swap');

.LiveBox {
    background-color: white;
    display: flex;
    align-items: center;
    line-height: 39px;
    flex-direction: column;
    padding-top: 7.5%;
    padding-bottom: 7.5%;
}

.rectangle{
    width: 75%;
    text-align: center;
    background: #FFFFFF;
    border: 3px solid #00573F;
    border-radius: 10px;
}

.rectangle1{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    gap: min(15%, 170px);
    background-color: transparent;
    border-top: 3px solid #00573F;
}

.rectangle2{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
}

.clock {
    width: 100%;
    border-radius: 10px;
    background: #00573F;
}

.Date{
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    max-height: 200px;
    height: fit-content;

    background: #00573F;
    border: 1px solid #000000;
}

.Date .Month{
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 90px;
    text-align: center;
    color: #FFFFFF;
}

.Date .Year{
    height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}

.Date .Day{

    height: 100px;

    font-family: 'Arvo';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 119px;
    text-align: center;
    color: #FFFFFF;

}

/*
.border-green {
    border: 1px solid #00573F;
}*/

.entrance-exit {
    width: 100%;
    display: flex;
    color:  #00573F;
    border-radius: 10px;
    border: 1px solid #00573F;
    gap: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 44px;
}

.entrance-exit .icon-boxes{
    width: 10%;
    background-color: white;
    border: 2px solid #00573F;
}
.icon-boxes img {
    width: 26px;
    height: 26px;
}

.entrance-exit .text {
    font-weight: 900;
    font-size: 32px;
    font-family: 'Monsterrat', sans-serif;
    line-height: 39px;
    text-align: left;
    font-style: normal;
}