*{
    box-sizing: border-box;
}
.enroll-container{
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    width: 100%;
    /* justify-content: center; */
}

.enroll-page{
    position: static;
    height: 100%;
    width: 100%;
    align-content: center;
}

.enroll-components{
    position: static;
    height: 90%;
    width: 100%;
    display: flex;
    overflow-y: scroll;
    flex-direction: column; 
}

.enroll-page-title{
    height: 10%;
}

.enroll-page .enroll-page-title {
    font-family: 'Cambria';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 50px;
    text-align: center;
    
    background: #8E1437;
    border-width: 10px 0px;
    border-style: solid;
    border-color: #FFB81E;
    
   
    letter-spacing: 0.25em;

    color: #FFFFFF; 

}

.enroll-component{
    width: 100%;
    height: 100%;
    position: static;
    display: flex;
}

