*{
    box-sizing: border-box;
}
.enroll-batch-student-incoming-container{
    /* position: relative; */
    display: block;  
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    padding: 50px;
}
.enroll-batch-student-incoming-container .EBS-incoming-container1{
    width: 100%;
    height: fit-content;
    border: 1px solid #00573F;    
    border-radius: 10px;
    justify-content: center;
}
.EBS-incoming-container1 .EBS-incoming-header-container1{
        width: 100%;
        height: 72.93px;
        background: #00573F;
        border-radius: 10px 10px 0px 0px;
        text-align: center;
        font-family: 'Cambria';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 80px;
        color: #FFFFFF;
}
.EBS-incoming-container1 .EBS-incoming-section{
    width: 100%;
    height: fit-content;
    padding: 50px;
    justify-content: center;
    /* gap: 50px; */
}
.EBS-incoming-section .EBS-incoming-selection-section{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    gap: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.EBS-incoming-selection-section .EBS-incoming-selection-GL{
    display: block;
    width: 100%;
    height: fit-content;
    justify-content: baseline;
    font-family: 'Cambria';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    overflow: hidden;
    white-space: nowrap;
    
    /* text-align: center; */
    
    color: #00573F;
}
.EBS-incoming-selection-GL .EBS-incoming-GL-drop{
    /* position: absolute; */
    width: 100%;
    height: 76px;

    
    background: #00573F;
    border: 1px solid #00573F;
    border-radius: 10px;    
}
.EBS-incoming-selection-section .EBS-incoming-selection-Sec{
    display: block;
    width: 100%;
    height: fit-content;
    justify-content: baseline;
    font-family: 'Cambria';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    
    /* text-align: center; */
    
    color: #00573F;
}
.EBS-incoming-selection-Sec .EBS-incoming-Sec-drop{
    /* position: absolute; */
    width: 100%;
    height: 76px;

    
    background: #00573F;
    border: 1px solid #00573F;
    border-radius: 10px;


    background: #00573F;
    border: 1px solid #00573F;
    border-radius: 10px;
}

.enroll-batch-student-incoming-container .grade-options, .enroll-batch-student-incoming-container .section-options {
    color: white;
    background: #00573F;
}

.enroll-batch-student-incoming-container .grade-options, .enroll-batch-student-incoming-container .section-options:hover {
    cursor: pointer;
}

.EBS-incoming-section .EBS-incoming-enter-bttn{
    width: 100%;
    height: fit-content;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.EBS-incoming-enter-bttn .EBS-incoming-ENTER-button{
    width: 100%;
    height: 50px;

    background: #00573F;
    border: 1px solid #00573F;
    border-radius: 10px;
    font-family: 'Cambria';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */

    

    text-align: center;

    color: #FFFFFF;
}
