.enroll-student-section-container{

    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    padding: 50px;
    /* margin:50px; */
}



.enroll-student-section-container .E-student-container1{
    /* display: flex; */
    position: static;
    width: 100%;
    height: 282px;

    box-sizing: border-box;
    border: 1px solid #00573F;
    border-radius: 10px;
    justify-content: center;
}
.enroll-student-section-container .E-student-container2{
    /* position: relative; */
    /* display: flex; */
    width: 100%;
    height: 72.93px;

    background: #00573F;
    border-radius: 10px 10px 0px 0px;

    text-align: center;

    font-family: 'Cambria';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 80px;

    color: #FFFFFF;
    
}
.E-student-container1.enroll-student-buttons{
    display: block; 

    width: 505px;
    height: 159.87px;
    margin: 0 auto;


    
    
}

.enroll-student-buttons .enroll-a-student-button{
    /* position: relative; */
    display: block;
    width: 505px;
    height: 70.5px;
    padding-top: 5px;
    margin: 0 auto;

    background: #00573F;
    border-radius: 10px;

    font-family: 'Cambria';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    justify-content:center;

    margin-top: 25px;
    
    color: #FFFFFF;

    cursor: pointer;
}
 .enroll-student-buttons .enroll-group-student-button{
    /* position: relative; */
    display: block;
    width: 505px;
    height: 70.5px;
    margin: 0 auto;


    background: #00573F;
    border-radius: 10px;

    font-family: 'Cambria';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    justify-content:center;
    margin-top: 10px;

    color: #FFFFFF;

    cursor: pointer;
}