@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Montserrat:wght@500;600&family=Playfair+Display:wght@400;700&display=swap');

.container {
    display: flex;
    align-items: center;
    flex-direction: column; 
    overflow-y: auto;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    /* height: 100%; */
    background-color: white;
}

.first-container,
.rectangle3 {
    margin: 40px;
}

.container .first-container{
    width: 50%;
    height: auto;
    text-align: left;
    background: #00573F;
    color: white;
    justify-content: left;
    font-size: 27px;
    position: relative;
    border-radius: 10px;
    margin: 60px 0px 60px 0px;
}

.container .first-container p {
    padding: 15px 0 0 15px;
}

.container .search-content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 10px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #00573F;
}

.container .search-result{
    background-color: rgb(255, 255, 255);
    color: black;
    position: relative;
    height: auto;
    width: 70%;
    padding: 20px;
    text-align: center;
    margin-top: 60px;
    
    border-style: solid;
    border-width: 1px;
    border-color: #00573F;
    border-radius: 10px;
}

.container .student-details{
    width: 100%;
    height: auto;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #00573F;
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 10px;
}

.container button {
    position: relative;
    border-radius: 5px;
    width: 100%;
    height: 30%;
    font-weight: 700;
    font-size: 60%;
    background-color: #00573F;
    color: white;
    cursor: pointer;
  }
    
.container button:hover {
    background-color: #008861;
} 

.container .search-field{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
}

.search-bar {
    position: fit-content;
    width: 100%;
    margin: 10px;
}
  
.search-bar input[type="text"] {
  height: 100%;
  width: 100%;
  padding: 10px;
  font-size: 60%;
  background-color: #d9d9d9;
  color:black;
}

.name,
.id,
.sex,
.age,
.gradeLevel,
.section{
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #00573F;
    display: flex;
    justify-content: left;
    text-align: left;
    padding-left: 5px;
    font-family: "Playfair Display";
    text-align: center;
}

.name-id-block{
    width: 80%;
    height: 40px;
    margin-top: 20px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    background-color: rgb(81, 0, 0);
}

.name{
    width: 80%;
    height: 100%;
}

.id{
    width: 20%;
    height: 100%;
}

.addtl-info-block{
    width: 80%;
    height: 40px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

.sex{
    width: 17%;
    height: 100%;
}

.age{
    width: 17%;
    height: 100%;
}

.gradeLevel{
    width: 31%;
    height: 100%;
}

.section{
    width: 35%;
    height: 100%;
}

.reason-input{
    width: 100%;
    height: 40px;
    padding: 5px;
    margin-bottom: 5px;
}

.student-details .input-fields-block{
    text-align: left;
    width: 80%;
}

