.search-bar {
    position: fit-content;
    width: 100%;
}
  
.search-bar input[type="text"] {
  height: 100%;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  font-size: 60%;
  background-color: #d9d9d9;
  color:black;
}