.backgroundImage {
  background-image: url(../../Assets/UP_ADMIN-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.formContainer {
  position: absolute;
  width: 360px;
  height: 680px;
  left: 1225px;
  top: 20px;
  background: white;
  border-radius: 8px;
}

.formContainer h3 {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  text-align: center;

}

.formInner {
  display: flex;
  flex-direction: column;
  align-items: center;
}