* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

#login-page {
  background-image: url(../../Assets/UP\ ADMIN\ red\ gray\ 1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top,center;
  font-family: "Cambria";
}

.login-content {
  height: 100vh;
}

.login-container {
  display: flex;
  justify-content: space-between;
  gap: 3%;
  align-items: center;
}

.title {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 3%;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title h1 {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 120px;
}

.title h2 {
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 32px;
  letter-spacing: 0.67rem;
}

.form-container {
  position: relative;
  width: 37.5%;
  height: 80.6vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 10px;
  background-image: linear-gradient(#ffb81e, white);
}

.login-bgi {
  background-image: url(../../Assets/login-bgi.png);
  position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom,center;
  height: 100%;
  width: 100%;
}

.upcLogo {
  position: relative;
  background-image: url(../../Assets/upc_logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  height: 25%;
  top: 15%;
}

.loginForm {
  position: relative;
  top: 17%;
  width: 60%;
}

.loginForm input{
  position: relative;
  float: right;
  padding: 2%;
  width: 100%;
  border-width: 1px;
  border-radius: 0 8px 8px 0;
  font-family: Arial;
  font-size: 1em;
  background-color: #d9d9d9;
}

.loginForm label {
  position: relative;
  display: flex;
  padding-top: 5px;
}

.login-input-container {
  position: relative;
  background-color: #FFB81E;
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
}

.login-input-icon {
  height: 30px;
  width: 10%;
  padding: 1%;
}

.login-icon {
  height: 30px;
  width: 10%;
  padding: 1%;
}

.login-button {
  background-color: white;
  position: relative;
  width: 100%;
  margin-top: 5%;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  display: flex;
}

.login-button button {
  background-color: #ffb81e;
  height: 100%;
  width: 100%;
  font-weight: 700;
  line-height: 31px;
  border-width: 1px;
  border-radius: 0 9px 9px 0;
  cursor: pointer;
  font-family: "Cambria";
}

.login-button button:hover {
  background-color: #ffc954;
}

.loginForm .forgotPassword {
  position: relative;
  top: 5px;
  text-decoration: none;
  font-style: italic;
  color: #686868;
}

.loginForm .forgotPassword:hover {
  text-decoration: underline;
  color: black;
}

.login-footer {
  position: relative;
  display: flex;
  flex: 1;
}