* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display";
}

.login-container {
  background-image: url(../../Assets/UP\ ADMIN1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form-container {
  position: relative;
  height: 620px;
  width: 450px;
  margin-right: 3%;
  margin-top: 3%;
  border-radius: 10px;
  background-image: linear-gradient(#ffb81e, white);
}

.upcLogo {
  position: relative;
  background-image: url(../../Assets/upc_logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 40%;
  width: 80%;
  top: 10%;
  left: 10%;
}

.loginForm {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 15%;
}

.IDnum,
.Passw {
  position: relative;
  padding: 10px;
  width: 70%;
  border-width: 1px;
  left: 15%;
  margin-top: 5px;
  background-color: #d9d9d9;
}

label {
  margin-left: 15%;
}

.login-button {
  position: relative;
  padding: 5px;
  width: 70%;
  margin-top: 5%;
  left: 15%;
  border-width: 1px;
  font-weight: 700;
  line-height: 35px;
  background-color: #ffb81e;
  cursor: pointer;
  opacity: 0.8;
}

button:hover {
  opacity: 1;
}

a {
  text-decoration: none;
  color: black;
  margin-left: 15%;
  margin-top: 2%;
}

a:hover {
  text-decoration: underline;
}

.title {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  margin-left: 3%;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.title h1 {
  font-weight: 700;
  font-size: 4rem;
  line-height: 120px;
}

.title h2 {
  font-weight: 400;
  font-size: 1.32rem;
  line-height: 32px;
  letter-spacing: 0.71rem;
}
