.notification-container {
  height: 100vh;
  width: 100%;
  display: flex;
}

.notification-content-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.notification-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
} 