.enroll-container{
    display: flex;
    height: 100%;
    width: 100%;
}
.enroll-sidebar{
    display:flex;

    height: 100%;
}
.enroll-default{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}
.enroll-content{
    display: flex;
    height: 100%;
    width: 100%;
}
