.database-container{
  display: flex;
  height: 100%;
  width: 100%;
}
.database-default{
  display:flex;
  flex-direction: row-reverse;
  height: 100%;

}
.database-content-container{
  position: relative;
  display: block;
  flex-direction: row-reverse;
  height: 100%;
  width: 100%;

}
.page-title{
  height: 40px;
  font-family: 'Cambria';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.015em;
  text-align: center;

  color: #00573F;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .database-footer {
    margin-top: min(8%, 106px);
  }