.database-container{
  height: 100vh;
  width: 100%;
  display: flex;
}

.database-content-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.database-content{
  position: relative;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
}
.page-title{
  height: 40px;
  font-family: 'Cambria';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.015em;
  text-align: center;

  color: #00573F;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

.page-header-container{
  background-color: #8E1437;
  opacity: 25%;
  border-radius: 5px 5px 0px 0px;
  height: 100px;
}
.header-bg {
  background-color: #8E1437;
  border: 1px solid black;
  border-radius: 10px 10px 0px 0px;
  height: fit-content;
  padding-top: 1%;
}


.help-icon {
  color: white;
}
