.database-container{
  /* position: absolute; */
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  width: 100%;
  /* justify-content: center; */
}
.database-content-container{
  position: relative;
  display: block;
  flex-direction: row-reverse;
  height: 100%;
  width: 100%;
  /* justify-content: center; */
}