.sidebar-header,
.sidebar-heading,
.sidebar-menu,
.menu-item,
.sidebar-footer {
	display: grid;
}

.sidebar-container {
	background-color: #8E1437;
	width: 300px;
	height: 1024px;
	position: sticky;
	
	transition: 0.4s;
}

.sidebar-heading {
	width: 300px;
	height: 250px;
	color: yellow;
	transition: 0.4s;
	display: flex;
	align-items: center; 
	justify-content: center;
	margin: 40px 0 0 0;
}

.sidebar-heading-profile {
	width: 200px;
	transition: 0.4s;
}

.sidebar-menu {
	grid-template-rows: repeat(5, 1fr);
	margin-top: 60px;
	padding-left: 20px;
}

.menu-item {
	height: 40px;
	width: 50px;
	display: flex;
	color: #FFB81E;
	text-decoration: none;
	text-transform: none;
	margin: auto 20px 30px;
	padding-bottom: 15px;
	transition: 1s;
}

.menu-item-icon{
	filter: invert(61%) sepia(97%) saturate(399%) hue-rotate(354deg) brightness(106%) contrast(101%);
}

.menu-item-icon-clicked{
	filter: invert(100%) sepia(4%) saturate(0%) hue-rotate(342deg) brightness(106%) contrast(106%);
}

.sidebar-footer {
	width: 100%;
	height: 300px;
	position: absolute;
	bottom: 0;
	grid-template-rows: 1fr;
	grid-template-columns: 2fr 1fr;
	margin: 0 0 0 40px;
	padding-bottom: 20px;
}

.arrow-right {
	width: 50px;
	margin-top: 170px;
}





/* Not Expanded Styles */
.sidebar-container-NX {
	width: 90px;
}

.sidebar-heading-NX {
	width: 90px;
	margin: 40px 0 0 0;
}

.sidebar-heading-profile-NX {
	width: 67px;
	margin-bottom: 100px;
}

.menu-item-NX {
	margin: auto 0 30px;
	padding-left: 2px;
	color: white;
}

.sidebar-footer-NX {
	margin: 0 0 0 20px;
	padding-bottom: 20px;
}