.newsidebar-container{
    height: 100%;
    width: 250px;
    background-color: #8E1437;
}

.newsidebar-header{
    height: 200px;
    width: 100%;
    display: grid;
    place-items: center;
}

.sidebar-list{
    height: auto;
    padding: 0;
    width: 100%;
}

.sidebar-list .items{
    width: 100%;
    height: 60px;
    padding-left: 7%;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: center;
    align-items: center;
}

.items #icon{
    flex: 30%;
    display: grid;
    place-items: center;
}

.items #title{
    flex: 70%;
}

.sidebar-list .items:hover{
    cursor: pointer;
    color: #FFB81E;
}

.sidebar-list #active{
    color: #FFB81E;
}