.footer-container {
  background: #D9D9D9;
  width: 100%;
  font-family: "Cambria";
  position: relative;
  bottom: 0;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2%;
  padding: 0.5% 1% 0 1%;
}

.col1{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col-title {
  font-size: 1rem;
}

.footer-cs-text {
  letter-spacing: 0.02em;
  font-size: 1.3rem;
  font-weight: 700;
}

.footer-upc-text {
  color: #FFB81E;
  font-size: 1.3rem;
  font-weight: 700;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.footer-upchs-text, .footer-hd-text{
  font-size: 1.3rem;
  font-weight: 700;
}

.footer-logos {
  display: flex;
}

.footer-cs-logo {
  background-image: url(../Assets/dept_compsci.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 70px;
  width: 70px;
}

.footer-upc-logo {
  background-image: url(../Assets/upc_logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 70px;
  width: 70px;

}

.col2 {
  display: flex;
  flex-direction: column;
}

.col3 {
  display: flex;
  align-items: center;
}

.col3-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: -10px;
}

.footer-hd-logo {
  background-image: url(../Assets/hd\ logo\ black.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 60px;
  width: 60px;
  margin-left: 5px;
}

.footer-reach-us {
  margin-top: -8px;
}

.footer-reach-us a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
}
.footer-reach-us a:hover{
  text-decoration: underline;
}

.footer-container hr{
  margin: 0;
}

.copyright-stmnt {
  display: flex;
  justify-content: center;
}

@media (max-width: 850px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}