.Greeting {
    display: flex;
    flex-direction: column;
}


.welcome-message {
    display: flex;
    border-width: 10px 0px;
    border-color: #FFB81E;
    border-style: solid;
    justify-content: space-between;
    width: 100%;
    padding: 13px;
    background-color: #8E1437;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: white;
    text-align: center;
    justify-content: center;
}

.Greeting img{
    width: 100%;
    height: 37px;
    
}
